doctype
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='./css/style.min.css')
        title Game: Find all Numbers
    body
        .container
            .content-wrap
                span.timer &nbsp;
                    b Starting with "1", click on numbers until you reach the last
                button.start-btn(type='button' class='content-wrap__btn-start') Start Game
                .game-table

                .toggle-mode(class='content-wrap__toggle-mode')
                    span.toggle-mode__text(class='easy_mode active') Easy Mode
                    span.toggle-mode__text(class='middle_mode') Middle Mode
                    span.toggle-mode__text(class='hard_mode') Hard Mode
                button.restart-btn(type='button' class='content-wrap__restart-btn') Restart Game



    script(src='./js/script.js')