body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #444444;
}
p {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
}
.content-wrap {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 640px;

  .content-wrap__btn-start {
    padding: 10px;
    border: 1px solid;
    display: block;
    border-radius: 6px;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: cornflowerblue;
    color: #fff;
    cursor: pointer;
  }
  .content-wrap__restart-btn {
    padding: 10px;
    border: 1px solid;
    border-radius: 6px;
    font-size: 20px;
    margin: 30px auto;
    margin-bottom: 10px;
    background-color: darkolivegreen;
    color: #fff;
    cursor: pointer;
  }
  .content-wrap__toggle-mode {
    position: fixed;
    right: -250px;
    bottom: 50%;
  }
}
.game-table {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 500px;
  height: 500px;
  width: 100%;
  position: fixed;
  top: -550px;
  transition: top 1s ease-in;

  &.show {
    top: 60px;
  }
}
.game-table__box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: calc((100%/5) - 10px);
  height: calc(100%/5);
  border: 1px solid black;
  box-sizing: border-box;
  margin: 2px;
  cursor: pointer;

  &.checked {
    background-color: forestgreen;
    cursor: wait;
    span {
      color: #fff!important;
    }
  }
  &.last-checked {
    border: 2px solid red;
    span {
      font-size: 25px!important;
    }
  }
  span {
    font-weight: 700;
  }
}
.start-btn {
  display: block;
  &.hide {
    display: none;
  }
}
.restart-btn {
  display: block;
  position: fixed;
  bottom: -100px;
  left: calc(50% - 70px);
  transition: bottom 1s ease-in;

  &.show {
    display: block;
    bottom: 300px;
  }
}
.timer {
  display: block;
  margin: 0 auto;
  font-size: 17px;
  padding: 10px;
  line-height: 1;
  box-sizing: border-box;
  text-align: center;

  &.lose {
    color: tomato;
    font-weight: 700;
    font-size: 20px;
  }
  &.win {
    color: forestgreen;
    font-weight: 700;
    font-size: 20px;
  }
}
.toggle-mode {
  display: flex;
  flex-flow: column;
  padding: 20px;
  transition: all 1s;
  width: 200px;

  &.show {
    right: 450px;
    transition: right 1s;
  }
  .toggle-mode__text {
    font-size: 1rem;
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
    margin-left: 0;
    text-align: right;
    transition: all 0.5s ease-in;

    &:hover {
      cursor: pointer;
    }
    &.active {
      font-size: 2rem;
      margin-left: -20px;
      transition: all 0.5s ease-in;
    }
    &.easy_mode {
      color: forestgreen;
    }
    &.middle_mode {
      color: darkorange;
    }
    &.hard_mode {
      color: tomato;
    }
  }
}
.btn-switch {
  padding: 5px;
  font-size: 16px;
  background-color: dimgrey;
  color: #fff;
  border-radius: 6px;
}